<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../assets/ico/favicon.png">

    <title>Patient</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../assets/css/main.css" rel="stylesheet">

    <script src="../assets/js/Chart.js"></script>

    <style type="text/css">
      #map_canvas {
        width: 100%;
        height: 100vh;      
      }
    </style>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script type="text/javascript">
      var map = null;
      var homeMarkerLocation = new google.maps.LatLng(-33.80010128657071, 151.28747820854187);
      var markerArray = []; //create a global array to store markers
      var locations = [
        ['Bondi Beach', -33.890542, 151.274856, 4],
        ['Coogee Beach', -33.923036, 151.259052, 5],
        ['Cronulla Beach', -34.028249, 151.157507, 3],
        ['Manly Beach', -33.80010128657071, 151.28747820854187, 2],
        ['Maroubra Beach', -33.950198, 151.259302, 1]];

      function initialize() {
        var myOptions = {
            zoom: 10,
            center: homeMarkerLocation,
            mapTypeControl: false,
            navigationControl: true,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

        var j = locations.length - 1;
        dropAndCreateMarker = function(j) {
          if (j == -1) {
            return;
          } else {
            setTimeout(function() {
              createMarker(new google.maps.LatLng(locations[j][1], locations[j][2]), locations[j][0], locations[j][3], locations[j][4], j);
              j--;
              dropAndCreateMarker(j);
            }, 400);
          }
        }
        dropAndCreateMarker(j);
      }

      function createMarker(latlng, myTitle, myNum, myIcon, j) {
        var contentString = myTitle;
        var marker = new google.maps.Marker({
          animation: google.maps.Animation.DROP,
          position: latlng,
          map: map,
          zIndex: Math.round(latlng.lat() * -100000) << 5,
          icon: '../assets/img/locationMarker.png',
          title: myTitle
        });

        if (!marker.position.equals(homeMarkerLocation)) {
          // create infowindow with a size and content, then add a listener to it and then open it
          var infowindow = new google.maps.InfoWindow({
            size: new google.maps.Size(150, 50),
            content: contentString
          });
          google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map, marker);
          });
          setTimeout(function() { infowindow.open(map, marker); }, (j + 3) * 400);
        } else {
          marker.icon = '../assets/img/homeMarker.png';
        }
       
        markerArray.push(marker); //push local var marker into global array
      }

      window.onload = initialize;

      function search(searchCenter) {
        var myCircle = new google.maps.Circle({
          center: searchCenter,
          map: map,
          radius: 5000,
          strokeOpacity: 0,
          fillOpacity: 0
        });
        var myBounds = myCircle.getBounds();
        
        //filters markers
        for(var i=markerArray.length;i--;) {
          if(!myBounds.contains(markerArray[i].getPosition()))
            markerArray[i].setMap(null);
        }
        map.setCenter(searchCenter);
        map.setZoom(map.getZoom()+1);
      }
    </script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><i class="fa fa-share"></i> SKIP THE WAIT <i class="fa fa-clock-o"></i></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="index.html">HOME</a></li>
 
            <!-- <li><a data-toggle="modal" data-target="#myModal" href="#myModal"><i class="fa fa-envelope-o"></i></a></li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <table>
      <tbody>
        <tr>
          <td id="map_canvas"></td>
          <td style="vertical-align: top;">
            <div style="margin-top: 15px;">
              <!--<button onclick="createCir()">Create Circle</button>-->
              <table width="250" style="margin-top: -12px;">
                <tbody>
                  <tr>
                    <td><input type="text" id="address" style="width: 250px; height: 47px; margin-top: 5px;" placeholder="Enter Your Current Location"></td>
                    <td><button class="login-btn" onclick="search(new google.maps.LatLng(-33.890542, 151.274856))">Go</button><td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>